{% extends 'smokeshop/base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Смена пароля
    </h3>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="shadow-custom messages alert alert-danger col-lg-12 mx-auto text-center">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %} 
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="old_password" class="text-muted">Текущий пароль</label>
            {{ form.old_password }}
        </div>
        <div class="input-field">
            <label for="new_password1" class="text-muted">Новый пароль</label>
            {{ form.new_password1 }}
        </div>
        <div class="input-field">
            <label for="new_password2" class="text-muted">Повторить новый пароль</label>
             {{ form.new_password2 }}
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Сменить пароль
        </button>
    </form>
</div>
{% endblock content %}