{% extends 'smokeshop/base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-8 mx-auto">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <img src="{{ product.image.url }}" alt=""
            class="img-fluid rounded-0 pt-3">
        </div>
        <div class="col-lg-6">
            <div class="top">
                <h2 class="mt-4 font-weight-bold text-grey">
                    {{ product.name }}
                </h2>
                <div>
                    <span class="font-weight-bold text-grey">
                        Бренд:
                    </span> {{ product.brand }} 
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Вкус:
                    </span> {{ product.taste }} 
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Дымность:
                    </span> {{ product.smoking }} баллов
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Присутствие никотина:
                    </span> {{ product.is_nicotine|yesno:"Да,Нет" }} 
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Крепкость:
                    </span> {{ product.strength }} баллов
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Страна производитель:
                    </span> {{ product.maker_country }} 
                </div>
                <div>
                    <span class="font-weight-bold text-grey">
                        Вес:
                    </span> {{ product.weight }} г. 
                </div>
            </div>
            <div class="mt-3">
                {{ product.description }}
            </div>
            {% if product.available %}
            <div class="alert alert-success my-3 text-center">
                Available
            </div>
            {% else %}
            <div class="alert alert-danger my-3 text-center">
                Currently unavailable
            </div>
            {% endif %}
            <hr>
            <div class="review">
                <span class="font-weight-bold text-grey">
                    Average rating: 4.5/5.0
                </span>
                <div class="mb-3 font-weight-bold">
                    <a href="" class="text-warning">
                        Write review
                    </a>
                </div>
            </div>
            <div class="mb-4">
                <form>
                    <span class="input-group add-to-cart shadow-custom">
                        <div class="input-group-prepend">
                            <span class="input-group-text
                            font-weight-bold px-3 btn btn-block price">
                            {{ product.price }} руб.
                        </span>
                    </div>
                    <span id="minus" class="input-group-text button_minus px-4">
                        -
                    </span>
                    <input type="number" value="1" class="form-control
                    text-center px-3">
                    <span id="plus" class="input-group-text button_plus px-4">
                        +
                    </span>
                    <div class="input-group-append">
                        <button class="btn btn-danger px-4 reduce_padding"
                        type="submit" data-toggle="tooltip"
                        data-placement="top" title="Add to cart">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </span>
        </form>
    </div>
</div>
</div>
</div>
{% endblock content %}