{% extends 'smokeshop/base.html' %}
{% block title %}Забыли пароль{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Забыли пароль?
    </h3>
    <p class="text-center">
        На вашу электронную почту будет отправлена инструкция по его восстановлению
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            {{form.email}}
            <label for="email" class="text-muted">Почта</label>
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Сбросить пароль
        </button>
    </form>
</div>
{% endblock %}