{% extends 'smokeshop/base.html' %}
{% block title %}Создание нового пароля{% endblock %}
{% block content %}
{% if form.errors %}
<div class="shadow-custom messages alert alert-danger
col-lg-5 mx-auto text-center">
Убедитесь, что пароли совпадают!
</div>
{% endif %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
    <h3 class="py-2 font-weight-bold text-grey text-center">
        Создание нового пароля
    </h3>
    {% if validlink %}
    <p class="text-center">Введите новый пароль</p>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            <label for="id_new_password1">Новый пароль</label>
            {{ form.new_password1}}
        </div>
        <div class="input-field">
            <label for="id_new_password2">Подтвердите пароль</label>
            {{ form.new_password2}}
        </div>
        <button class="btn btn-block btn-warning mb-3" type="submit">
            Подтвердить
        </button>
    </form>
    {% else %}
    <p>
        Ссылка устарела, повторите запрос на сброс пароля
    </p>
    {% endif %}
</div>
{% endblock %}