{% extends 'smokeshop/base.html' %}
{% block title %}Cброс пароля{% endblock %}
{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
    <h3 class="py-2 font-weight-bold text-grey">
        Сброс пароля 
    </h3>
    <hr class="my-0">
    <div class="py-2">
        <p>Мы отправили письмо на указанный вами электронный ящик.
            Пройдите по ссылке указанном в письме.</p>
        <hr>
        <p>Если Вы не получили письмо, то проверьте корректно ли Вы его указали.</p>
    </div>
</div>
{% endblock %}